.root{
    --primary:
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     
}
.header{
    background-color: rgb(230, 220, 208);
    padding: 2ch;
}
.header--title{
    color: #f2b366;
    text-transform: uppercase;
    text-shadow:1.5px 1.5px black;
    text-align: center;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    
}
.menu--item{
    justify-content: center;
    text-decoration: none;
    padding: 0.2rem;
    background-color:#3f2f21;
    color: #f2b366;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    
}